@model List<Category>

<h1> Category List</h1>
<table class="table table-bordered table-stripe">
    <thead>
    <tr>
        <th>
            Cateogry Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    <tbody>
        @* Use orderby to display in order format *@
        @foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
            <td>
                @obj.DisplayOrder
                </td>
        </tr>
        }
    </tbody>
</table>
